@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@200;300;400;600;700 & display=swap');

* {
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    background-color: #F4F7F2;
}

/* menu navegacion */
#cabecera{
    width: 100%;
    position: fixed;
    left: 0%;
    top: 0%;
    z-index: 999;
    background-color: #F4F7F2;
}
#navegacion{
    width: 100%;
    max-width: 1100px;
    display: flex;
    align-items: center;
    margin: auto;
}
#navegacion img{
    width: 75%;
}
.menu{
    width: 100%;
}

    /* hamburguesa movil */
    #btn-menu{
        display: none;
    }
    #movil{
        font-size: 30px;
        cursor: pointer;
        display: none;
        text-align: right;
        color: rgb(0, 0, 0);
    }
        /* */

.menu ul{
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;

    list-style: none;
}
.menu ul li a{
    display: block;
    line-height: 85px;
    padding: 0 20px;
    color: #000000;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}
.menu a:hover{
    background-color: #84B6F4;
    color: #ffffff;
    border-bottom: #3d6aa1;
    transition: .4s ease;
}
/* Para movil */
@media (max-width: 576px){
    #cabecera{
        justify-content: space-between;
    }
    #navegacion img{
        width: 30%;
        display: block;
        padding-left: 30px;
    }
    .menu{
        position: absolute;
        top: 100%;
        transform: translateX(-100%);
        transition: all 0.5s;
    }
    .menu ul{
        flex-direction: column;
        opacity: 75%;
    }
    .menu ul li a{
        line-height: 45px;
        padding: 0 20px;
        border-bottom: 2px solid #3d6aa1;
        font-weight: 550;
    }
    #movil{
        display: block;
        margin-left: 20%;
    }
    .menu a:hover{
        background-color: #84B6F4;
        color: #ffffff;
    }
}
/* TABLET */
@media (min-width: 577px) and (max-width: 1087px){
    #cabecera{
        justify-content: space-between;
    }
    #navegacion img{
        width: 100%;
        max-width: 250px;
        display: block;
        padding-left: 90px;
    }
    .menu{
        position: absolute;
        top: 100%;
        transform: translateX(-100%);
        transition: all 0.5s;
    }
    .menu ul{
        flex-direction: column;
        opacity: 75%;
    }
    .menu ul li a{
        line-height: 45px;
        padding: 0 20px;
        border-bottom: 2px solid #3d6aa1;
        font-weight: 550;
    }
    #movil{
        display: block;
        margin-left: 60%;
    }
    .menu a:hover{
        background-color: #84B6F4;
        color: #ffffff;
    }
}
#btn-menu:checked ~ .menu{
    transform: translateX(0%);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #F4F7F2;
}
.li a button{
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
/*--------------------------------------*/
/* CUERPO DE LA PAGINA */
.contenedor{
    background-image:  url('./img/portada/portada.png');
    width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.cuadronegro{
    background-image: linear-gradient(to right, #ffffff00, #000000bb , #000000e0, #000000);
    width: 100%;
    height: 60vh;
}
.cajon{
    display: block;
    width: 40%;
    color: #ffffff;
    margin-top: 4%;
    margin-left: 58%;
    
    text-align: justify;
}
.cajon h1{
    padding-top: 20%;
}
.cajon p{
    margin-top: 3%;
}
.espacio{
    margin-bottom: 4%;
}
.text h2{
    margin-top: 3%;
    font-weight: 600;
}
.text p{
    margin-top: 2%;
    text-align: justify;
}
.imagen img{
    width: 100%;
    max-width: 650px;
    margin-top: 1%;
    margin-bottom: 2%;
}
.imagen p{
    margin-top: -2%;
    margin-left: 15%;
}

/* MOVIL */
@media (max-width: 576px){
    .cajon h1{
        padding-top: 20%;
        font-size: 22px;
    }
    .cajon p{
        font-size: 14px;
    }
    .cajon p span{
        font-size: 0px;
    }
    .contenido{
        margin-top: 8%;
    }
    .text h2{
        margin-top: -3%;
        font-weight: 600;
    }
    .text ul li a{
        font-size: 14px;
    }
    .text p{
        margin-top: 3%;
        font-size: 18px;
    }
    .imagen img{
        max-width: 250px;
        margin-left: 8%;
    }
    .imagen p{
        margin-top: -1%;
        margin-left: 10%;
        font-size: 14px;
    }
}
/* TABLET */
@media (min-width: 577px) and (max-width: 1087px){
    .cajon h1{
        padding-top: 40%;
        font-size: 26px;
    }
    .cajon p{
        font-size: 18px;
    }
    .contenido{
        margin-top: 8%;
        text-align: justify;
    }
    .text h2{
        margin-top: -5%;
        font-weight: 600;
    }
    .text h2{
        font-size: 32px;
        font-weight: 600;
    }
    .text ul li a{
        font-size: 20px;
    }
    .text h3{
        font-size: 28px;
        font-weight: 500;
    }
    .text p{
        margin-top: 3%;
        font-size: 24px;
    }
    .imagen img{
        max-width: 450px;
        margin-left: 10%;
    }
    .imagen p{
        margin-top: 0%;
        margin-left: 10%;
        font-size: 18px;
    }
}

/* --------------- */
/* -- Copyright -- */
#copy{
    background-color: #191919;
    width: 100%;
    display: flex;
    align-items: center;
}
#copy img{
    width: 75%;
    margin-left: 100%;
}
.texto{
    width: 100%;
}
.texto ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 25%;
}
.texto ul li a{
    display: block;
    line-height: 85px;
    padding: 0 20px;
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
}
.texto ul li{
    color: #ffffff;
}
/* MOVIL */
@media (max-width: 576px){
    #copy img{
        max-width: 75px;
        margin-left: 30%;
    }
    .texto ul{
        margin-left: 0%;
    }
    .texto ul li a{
        padding: 0 20px;
        line-height: 40px;
        font-size: 10px;
    }
}
/* TABLET */
@media (min-width: 577px) and (max-width: 1087px){
    #copy img{
        max-width: 165px;
        margin-left: 60%;
    }
    .texto ul{
        margin-left: 15%;
    }
    .texto ul li a{
        padding: 0 20px;
        line-height: 40px;
        font-size: 20px;
    }
}
